@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

:root {
    --branco: #FFF7FC;
    --cinza-claro: #393E46;
    --cinza-escuro: #222831;
}

body {
    background-color: var(--branco);
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 25px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo img {
    width: 50px;
}

.logo h1 {
    color: var(--cinza-claro);
    font-size: 28px;
    font-weight: 500;
}

.adicionar-produto-botao {
    color: #ffffff;
    background-color: var(--cinza-escuro);
    border: 2px solid var(--cinza-escuro);

    padding: 10px 18px;
    border-radius: 25px;
    font-size: 16px;

    cursor: pointer;
    transition: 0.3s;
}

.adicionar-produto-botao:hover {
    color: var(--cinza-escuro);
    background-color: var(--branco);
    border: 2px solid var(--cinza-escuro);
}

/* NAV */

.selecao {
    padding: 15px 25px;
    background-image: linear-gradient(to left, var(--cinza-escuro), var(--cinza-claro), var(--cinza-claro));
}

.selecao ul {
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    gap: 25px;
}

.selecao ul::-webkit-scrollbar {
    height: 0;
}

.selecao ul li {
    font-size: 17px;
    color: #ffffff;

}

.selecao ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* SECTION */

.cards-adicionar {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 30px 35px;
}

/* CARDS */

.cards-adicionar {
    display: flex;
    justify-content: center;
}

.cards {
    margin-top: 10px;
    width: 250px;
    text-align: center;
    position: relative;
}

.cards img {
    max-width: 245px;
    min-height: 300px;;
    position: relative;
}

.cards h2 {
    font-size: 17px;
    color: var(--cinza-escuro);
}

.cards p {
    color: var(--cinza-claro);
}

.delete-icon {
    position: absolute;
    top: 10px;
    right: 15px;
    color: var(--cinza-claro);
    cursor: pointer;
    transition: 0.5s;
}

.delete-icon:hover {
    color: #ec4e4e;
}

/* ADICIONAR PRODUTO */

/* HEADER */
.container-header-adicionar {
    display: flex;
    justify-content: right;
    padding: 25px 25px;
}

.voltar-inicio {
    color: #ffffff;
    background-color: var(--cinza-escuro);
    border: 2px solid var(--cinza-escuro);

    padding: 10px 18px;
    border-radius: 25px;
    font-size: 16px;

    cursor: pointer;
    transition: 0.3s;
}

.voltar-inicio:hover {
    color: var(--cinza-escuro);
    background-color: var(--branco);
    border: 2px solid var(--cinza-escuro);
}

.fa-arrow-left {
    font-size: 14px;
}

/* SECTION */

.container-formulario {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-formulario h2 {
    font-size: 40px;
    color: var(--cinza-claro);
}

.formulario {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 400px;
}

.formulario fieldset {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: none;
}

.formulario label {
    margin-left: 5px;
    font-size: 20px;
    color: var(--cinza-escuro);
    width: 350px;
}

.formulario .campo-preencher {
    padding: 10px 18px;
    
    border-radius: 25px;
    border: 2px solid var(--cinza-claro);
    color: var(--cinza-claro);
    font-size: 18px;
}

.formulario input:focus {
    outline: none;
}

.botao-enviar {
    margin-top: 50px;
    color: #ffffff;
    background-color: var(--cinza-escuro);
    border: 2px solid var(--cinza-escuro);

    padding: 10px 0;
    width: 200px;
    border-radius: 25px;
    font-size: 16px;

    cursor: pointer;
    transition: 0.3s;
}

.botao-enviar:hover {
    color: var(--cinza-escuro);
    background-color: var(--branco);
    border: 2px solid var(--cinza-escuro);
}

/* RESPONSIVE */

@media (max-width: 1000px) {
    header {
        padding: 15px 10px;
    }

    .logo img {
        width: 45px;
    }
    
    .logo h1 {
        font-size: 18px;
    }

    .container-header-adicionar {
        padding: 25px 10px;
    }

    .container-formulario h2 {
        font-size: 30px;
        margin-top: 30px;
    }
}
